<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bodega Pijao</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #109DFE;
                font-family: Arial, sans-serif;
            }
    
            header {
                text-align: center;
                background-image: url('https://www.disproamerica.com/wp-content/uploads/2020/04/banner-vinos-1.jpg');
                background-size: cover;
                padding: 70px 0;
            }
    
            h1 {
                font-family: Arial, sans-serif;
                font-weight: bold;
                color: #022e16;
                font-size: 2.5em;
                text-align: center;
            }
    
            h2 {
                text-align: center;
                color: #000;
            }
    
            .container {
                text-align: center;
                padding: 20px;
            }
    
            input[type="text"],
            input[type="password"] {
                width: 30%;
                padding: 10px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
    
            footer {
                text-align: center;
                background-color: rgb(61, 103, 143);
                background-size: cover;
                padding: 10px;
            }
    
            .social-icon {
                font-size: 24px;
                color: white;
                text-decoration: none;
                margin-right: 10px;
            }
    
            a.social-link {
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
<body>
    <header>
        <h1> </h1>
    </header>
    <p><h1>游볙 BODEGA PIJAO 游볙</h1></p>
    <p><h2>Sistema de informaci칩n: INGRESAR </h2></p>
    <!-- Tu contenido HTML aqu칤 -->

    <form action="/login" method="post">
        <div class="container">
            <input type="text" name="username" placeholder="Usuario" required /><br>
            <input type="password" name="password" placeholder="Contrase침a" required />
            <p> </p>
            <button type="submit">Iniciar sesi칩n</button>
        </div>
    </form>
    <!-- Footer --><footer id="footer"><div class="inner">
        <div class="pie-form">
            <button><a href="http://localhost:8080/">춺 Volver al inicio</a></button>
        </div>
        <h2>쮻eseas tener acceso? Cont치ctanos: </h2>
        <ul class="icons">
        <button><a href="https://www.facebook.com/people/Bodega-Pijao/pfbid0CvZJed92cZpkAEUxMUfa7LTCT9jYY35T7ST9RhjWtbGB7jjfDwXPVubESU1rT6ggl/" class="icon round fa-facebook"><span class="label">Facebook</span></a></button>
        <button><a href="https://www.instagram.com/bodegapijao/?igshid=MzRlODBiNWFlZA%3D%3D" class="icon round fa-instagram"><span class="label">Instagram</span></a></button>
        </ul></div>
    </footer>

</body>
</html>
